.container {
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  height: 100vh;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

select {
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  /* width: 100%; */
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  /* line-height: inherit; */
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  box-shadow: 0px 63px 239px rgba(0, 0, 0, 0.02),
    0px 45.8227px 161.092px rgba(0, 0, 0, 0.0161875),
    0px 31.8937px 104.189px rgba(0, 0, 0, 0.0135),
    0px 20.918px 64.6514px rgba(0, 0, 0, 0.0115625),
    0px 12.6px 38.8375px rgba(0, 0, 0, 0.01),
    0px 6.64453px 23.1064px rgba(0, 0, 0, 0.0084375),
    0px 2.75625px 13.8172px rgba(0, 0, 0, 0.0065),
    0px 0.639844px 7.32871px rgba(0, 0, 0, 0.0038125);
  border-radius: 4px;
  background: #ffffff;
  height: 48px;
  margin-top: 20px;
}

.select-div {
  display: flex;
  justify-content: center;
}

.select-div > div {
  margin-right: 20px;
}

.label {
  margin-bottom: 20px;
  font-size: large;
  color: black;
}

button {
  /* padding: 12px; */
  background-color: blue;
  color: white;
  font-size: 22px;
  border-radius: 12px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  /* height: 200px;
  border: 3px solid green; */
}

.chart {
  margin: 20px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 11px -1px #000000;
  box-shadow: 0px 0px 11px -1px #000000;
}

.chartTitle {
  margin-bottom: 20px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  body {
    background-color: black;
  }

  .select-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
